<script>
  // This is called with the results from from FB.getLoginStatus().
  var loginStatus = false;
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    if (response.status === 'connected') {
      loginStatus = true;
      $("input").prop('disabled', false);
      $("span#basic-addon2").attr('disabled', false);
      $('#succMessage').show(function(){
        setTimeout(function(){
          $('#succMessage').hide();
        },3000)
      });
      $('#errMessage').hide();
      $('#warnMessage').hide();
      $('.btnFb').hide();
    } else if (response.status === 'not_authorized') {
      $('#errMessage').show(function(){
        setTimeout(function(){
          $('#errMessage').hide();
        },3000)
      });
    } else {
      $('#warnMessage').show(
        function(){
          setTimeout(function(){
            $('#warnMessage').hide();
          },3000)
        }
      );
    }
    testAPI();
  }

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1535498783439435',
      cookie     : true,  // enable cookies to allow the server to access
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.4' // use version 2.2
    });

    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });

  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function testAPI() {
    var id;
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      window.username = response.name;
      console.log('Successful login for: ' + response.name);
      id = response.id;
      console.log(response.id);

    });
  }
</script>

<div class="chatContainer">
  <div class="headline">
    Group Chat
  </div>
  <div class="alert-box">
    <div class="alert alert-warning fade in" id="warnMessage">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Warning!</strong> Login with facebook to chat !
    </div>
    <div class="alert alert-success fade in" id="succMessage" style="display:none">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Success!</strong> You are logged in with facebook
    </div>
    <div class="alert alert-success fade in" id="errMessage" style="display:none">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Error!</strong> Unautorized Facebook credentials.
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-md-10 col-md-offset-1 col-lg-offset-1">
      <div class="chat-box">
        <div class="messages">
          <div ng-repeat="message in messages">
            {{message.user}} : {{message.text}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="btnFb">
    Login with facebook to begin a chat
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    </fb:login-button>
  </div>
  <div id="status">
  </div>
  <div class="input-group">
    <input type="text" class="form-control" ng-model="currentMessage" placeholder="Enter message & hit enter"
           aria-describedby="basic-addon2" ng-keydown="(( event.which || event.keyCode) == 13)? sendMessage() : false" disabled>
    <span class="input-group-addon btn btn-success" id="basic-addon2" ng-click="addMessage()" disabled>Send</span>
  </div>
</div>
<script>

</script>
